<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99WebApplicaton">
<listeners>
	<listener class-name="Guru99.Utilities.Reporting"></listener>
</listeners>
  <test name="LoginTest">
  	<parameter name="browser" value="chrome"  />
    <classes>
      <class name="Guru99.TestCases.TC_LoginTestDDT_002"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
